In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Price Forecasting Datensätze/Milling Wheat N2 Futures Historical Data(1).csv")

In [3]:
df = df[['Date', 'Price']]
df = df.rename(columns = {'Price': 'Wheat_Price'})
df

           Date  Wheat_Price
0    08/01/2023       233.50
1    07/01/2023       240.00
2    06/01/2023       230.75
3    05/01/2023       218.25
4    04/01/2023       238.50
..          ...          ...
300  08/01/1998       118.00
301  07/01/1998       110.83
302  06/01/1998       119.52
303  05/01/1998       122.57
304  04/01/1998       122.57

[305 rows x 2 columns]

Formatting the date column

In [4]:
df['Date'] = pd.to_datetime(df['Date'], format = "%m/%d/%Y")
df['Date'] = df['Date'].dt.strftime('%Y-%m')
df

        Date  Wheat_Price
0    2023-08       233.50
1    2023-07       240.00
2    2023-06       230.75
3    2023-05       218.25
4    2023-04       238.50
..       ...          ...
300  1998-08       118.00
301  1998-07       110.83
302  1998-06       119.52
303  1998-05       122.57
304  1998-04       122.57

[305 rows x 2 columns]

In [5]:
data_merging = pd.read_csv("C:/Price Forecasting Datensätze/data_merging_new.csv")
data_merging = data_merging.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis = 1)
data_merging

,Date,Food_Price,Oil_price (USD per gallon),€/kWh,Exchange_rate ($/€),Air_Temperature (°C),Precipitation (l/m²),PP_food_products,PP_bakery_farinaceous_products,PP_other_food_products,PP_prepared_feed_farm_animals,PP_pesticides_agrochemicals_products,PP_Grain_Starch
0,1996-01,74.9,16.52,NaN,1.2918,-2.82,7.0,78.6,70.2,:,62.9,86.1,87.3
1,1996-02,75.5,17.76,NaN,1.2886,-2.18,48.6,78.4,70.1,:,63.2,85.4,87.4
2,1996-03,76.1,19.41,NaN,1.2813,1.00,23.3,78.5,70.9,:,62.8,85.4,87.7
3,1996-04,76.4,19.02,NaN,1.2639,8.40,23.1,78.6,70.8,:,63.3,85.4,87.8
4,1996-05,76.2,17.80,NaN,1.2467,11.15,91.4,79,70.8,:,65.7,84.9,88.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,2023-03,147.6,79.77,NaN,1.0706,5.74,90.4,145.9,145,134.8,152.3,132.8,161.8
327,2023-04,146.5,79.54,NaN,1.0968,7.53,63.6,146.3,145.1,135.9,146,132.6,158.7
328,2023-05,146.2,72.66,NaN,1.0868,13.08,42.7,145.9,145,136.5,139.3,132.1,156.1
329,2023-06,146.0,74.90,NaN,1.0840,18.56,50.4,146.1,144.9,136.8,136.2,132.1,155.7
330,2023-07,NaN,85.43,NaN,1.1058,18.72,97.0,:,:,:,:,:,:

Merging both DataFrames

In [6]:
data_merging = pd.merge(left = data_merging, right =df, how = 'left')
data_merging

,Date,Food_Price,Oil_price (USD per gallon),€/kWh,Exchange_rate ($/€),Air_Temperature (°C),Precipitation (l/m²),PP_food_products,PP_bakery_farinaceous_products,PP_other_food_products,PP_prepared_feed_farm_animals,PP_pesticides_agrochemicals_products,PP_Grain_Starch,Wheat_Price
0,1996-01,74.9,16.52,NaN,1.2918,-2.82,7.0,78.6,70.2,:,62.9,86.1,87.3,NaN
1,1996-02,75.5,17.76,NaN,1.2886,-2.18,48.6,78.4,70.1,:,63.2,85.4,87.4,NaN
2,1996-03,76.1,19.41,NaN,1.2813,1.00,23.3,78.5,70.9,:,62.8,85.4,87.7,NaN
3,1996-04,76.4,19.02,NaN,1.2639,8.40,23.1,78.6,70.8,:,63.3,85.4,87.8,NaN
4,1996-05,76.2,17.80,NaN,1.2467,11.15,91.4,79,70.8,:,65.7,84.9,88.8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,2023-03,147.6,79.77,NaN,1.0706,5.74,90.4,145.9,145,134.8,152.3,132.8,161.8,260.25
327,2023-04,146.5,79.54,NaN,1.0968,7.53,63.6,146.3,145.1,135.9,146,132.6,158.7,238.50
328,2023-05,146.2,72.66,NaN,1.0868,13.08,42.7,145.9,145,136.5,139.3,132.1,156.1,218.25
329,2023-06,146.0,74.90,NaN,1.0840,18.56,50.4,146.1,144.9,136.8,136.2,132.1,155.7,230.75
330,2023-07,NaN,85.43,NaN,1.1058,18.72,97.0,:,:,:,:,:,:,240.00

Saving the data in a csv file

In [7]:
data_merging.to_csv('data_merging_new_updated.csv')